<div class="jumbotron" *ngIf="profile$ | async as p else noProfile">
    <div class="header">
        <div class="title">
            <h3>Profil</h3>
        </div>
        <div class="title-profile">
            <label for="profile-title">Titre du poste</label>
            <div>
                <input type="text" id="profile-title" class="form-control" value="{{p.potitionTitle}}">
            </div>
        </div> 
    </div>
    <div class="body">
        <div class="left-part">
            <div class="card">
                <h5>Expériences</h5>
                <table class="table">
                    <tr *ngFor="let experience of experiences$|async">
                        <td> {{experience.positionTitle }} </td>
                        <td>
                            <div>
                                <input *ngIf="experience.profileId else inputNotChecked" class="form-check-input" 
                                type="checkbox" id="checkboxNoLabel" value="" [ngModel]="" (change)="addOrRemoveExperience($event, experience.id, p.id)" checked>
                                <ng-template #inputNotChecked>
                                    <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" ngModel (change)="addOrRemoveExperience($event, experience.id, p.id)">
                                </ng-template>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="right-part">
            <div class="card">
                <h5>Compétences</h5>
                <table class="table">
                    <tr *ngFor="let skill of skills">
                        <td>{{skill.technology.name}}</td>
                        <td>
                            <div>
                                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="next-button">
            <button class="btn btn-light">Suivant <i class="fa-solid fa-arrow-right"></i></button>
        </div>
        <div class="prev-button">
            <button class="btn btn-light" (click)="onClickPreviousPage(currentRoute)"> <i class="fa-solid fa-arrow-left"></i> Précédent</button>
        </div>
    </div>
</div>


<ng-template #noProfile>
    <div class="jumbotron">
        <div class="header">
            <div class="title">
                <h3>Profil</h3>
            </div>
            <div class="title-profile">
                <label for="profile-title">Titre du poste</label>
                <div>
                    <input type="text" id="profile-title" class="form-control" value="">
                </div>
            </div> 
        </div>
        <div class="body">
            <div class="left-part">
                <div class="card">
                    <h5>Expériences</h5>
                    <table class="table">
                        <tr *ngFor="let experience of experiences$|async">
                            <td> {{experience.positionTitle }} </td>
                            <td>
                                <div>
                                    <input *ngIf="experience.profileId else inputNotChecked" class="form-check-input" 
                                    type="checkbox" id="checkboxNoLabel" value="" [ngModel]="" (change)="addOrRemoveExperience($event, experience.id, '')" checked>
                                    <ng-template #inputNotChecked>
                                        <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" ngModel (change)="addOrRemoveExperience($event, experience.id, '')">
                                    </ng-template>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="right-part">
                <div class="card">
                    <h5>Compétences</h5>
                    <table class="table">
                        <tr *ngFor="let skill of skills">
                            <td>{{skill.technology.name}}</td>
                            <td>
                                <div>
                                    <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="next-button">
                <button class="btn btn-light">Suivant <i class="fa-solid fa-arrow-right"></i></button>
            </div>
            <div class="prev-button">
                <button class="btn btn-light" (click)="onClickPreviousPage(currentRoute)"> <i class="fa-solid fa-arrow-left"></i> Précédent</button>
            </div>
        </div>
    </div>
</ng-template>