.header {
    display: flex;

    .title-profile {
        margin-left: 55%;
    }
}

.body {
    display: flex;

    .card {
       width: 300px; 
    }
    .left-part {
        padding: 20px;
    }

    .right-part {
        padding: 20px;
        margin-left: 30%;
    }

    .final-button {
        margin-left: 18px;
        margin-top: 46%;
    }
}