<div class="jumbotron">
    <div class="home-header">
        <div class="home-title">
            <h3>Liste des candidats</h3>
        </div>
        <div class="search-candidate col-sm-3">
          <input class="form-control" type="text" placeholder="Rechercher..." (keyup)='search($event)'>
        </div>
    </div>
    <div class="home-body">
        <table class="table table-sm table-borderless">
            <thead>
              <tr>
                <th scope="col">Nom complet</th>
                <th scope="col">Profil</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let candidate of filterData">
                <td>
                    {{candidate.lastName}} {{candidate.firstName}}
                </td>
                <td>
                    <p *ngFor="let profil of candidate.profiles">{{profil.title}}</p>
                </td>
                <td>
                    <div *ngFor="let profile of candidate.profiles">
                        <button class="btn" (click)="onShowProfile(profile.id)"><i class="fa-solid fa-eye"></i></button>
                        <button class="btn" (click)="onEditProfile(profile.id)"><i class="fa-solid fa-pen"></i></button>
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
