<div class="jumbotron">
    <div class="header">
        <div class="title">
            <h3>Liste des candidats</h3>
        </div>
        <div class="search-candidate col-sm-3">
          <input class="form-control" type="text" placeholder="Rechercher..." (keyup)='search($event)'>
        </div>
    </div>
    <div class="home-body">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Nom complet</th>
                <th scope="col">Profil</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let candidate of candidateProfile$ | async">
                <td>
                    <p>{{candidate.lastName}} {{candidate.firstName}} </p>
                    <button class="btn btn" (click)="addNewProfile(candidate.id)"> <i class="fa-solid fa-file-circle-plus"></i> Ajouter un profil </button>
                </td>
                <td>
                  <div *ngFor="let profil of candidate.profiles">
                    <p>{{profil.potitionTitle}}</p>
                    <div>
                      <button class="btn" (click)="onShowProfile(profil.id)"><i class="fa-solid fa-eye"></i></button>
                      <button class="btn" (click)="onEditProfile(profil.id, candidate.id)"><i class="fa-solid fa-pen"></i></button>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
