.skill-form {
    display:flex;

    .form-group {
        margin-left: 25px;

        button {
            margin-top: 45px;
        }
    }
}

.skill-list {
    table {
        margin-top: 20px;
    }
    height: 410px;
    overflow-y: auto;
}
