<div class="jumbotron">
    <div class="header">
        <div class="title">
            <h3>Expériences</h3>
        </div>
    </div>
    <div class="experience-form">
        <form #experienceForm="ngForm" (ngSubmit)="onSubmitForm(experienceForm)" class="form">
            <div class="section-left">
                <div class="positionTitle-input">
                    <label for="positionTitle">Poste</label>
                    <input class="form-control" type="text" [(ngModel)]="positionTitle" id="positionTitle" name="positionTitle">
                </div>
                <div class="beginDate-input">
                    <label for="beginDate">Date de début</label>
                    <input class="form-control" type="date" [(ngModel)]="beginDate" id="beginDate" name="beginDate">
                </div>
                <div class="title-input">
                    <label for="title">Intitulé de l'experience</label>
                    <textarea class="form-control" rows="5" [(ngModel)]="title" id="title" name="title"></textarea>
                </div>
            </div>
            <div class="section-right">
                <div class="sector-input">
                    <label for="sector">Sécteur</label>
                    <input class="form-control" type="text" [(ngModel)]="sector" id="sector" name="sector">
                </div>
                <div class="endDate-input">
                    <label for="endDate">Date de fin</label>
                    <input class="form-control" type="date" [(ngModel)]="endDate" id="endDate" name="endDate">
                </div>
                <div class="description-input">
                    <label for="description">Description</label>
                    <textarea class="form-control" [(ngModel)]="description" id="description" name="description"></textarea>
                </div>
                <div class="btn-submit">
                    <button class="btn btn-light" type="submit">Ajouter <i class="fa-solid fa-plus"></i></button>
                </div>
            </div>
            <div class="super-right">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" [(ngModel)]="isCurrentPosition" name="isCurrentPosition" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Actuellement
                    </label>
                  </div>
            </div> 
        </form>
    </div>
    <div class="experience-list">
            <table class="table table-responsive">
                <tbody>
                  <tr *ngFor="let candidateExperience of experiencesList$ | async">
                    <th>{{candidateExperience.positionTitle}}</th>
                    <td>{{candidateExperience.sector}}</td>
                    <td>{{candidateExperience.title}}</td>
                    <td>
                        {{candidateExperience.beginDate | date: 'yyyy'}} - {{candidateExperience.endDate | date: 'yyyy'}} 
                        <p *ngIf="candidateExperience.isCurrentPosition">Actuellement</p>
                    </td>
                    <td><button class="btn" (click)="onDeleteExperience(candidateExperience.id)"><i class="fa-solid fa-square-minus"></i></button></td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="next-button">
            <button class="btn btn-light" (click)="onClickNextPage()">Suivant <i class="fa-solid fa-arrow-right"></i></button>
        </div>
        <div class="prev-button">
            <button class="btn btn-light" (click)="onClickPreviousPage()"> <i class="fa-solid fa-arrow-left"></i> Précédent</button>
        </div>
</div>