.form-right {
    margin-left: 30%;

    button {
        margin-top: 20px;
    }
}

.super-right {
    .form-check {
        margin-top: 125px;
        margin-left: 20px;
    }
}

.career-list {
    height: 271px;
    overflow-y: auto;
}
