.header {
    .config-subtitle{
        margin-top: 30px;
    }
}

.config-body {
    margin-top: 30px;
    display: flex;

    .category-list{
        margin-left: 20px;
    }

    .technology-list{
        margin-left: 25%;
    }

    .table {
        background-color: rgb(250, 240, 240, 96%);
        margin-top: 10px;
        border-radius: 10px;

        .buttons-control{
            float: right;
        }
    }
}

