/* You can add global styles to this file, and also import other style files */
.jumbotron {
    background-color: rgb(58, 166, 212);
    width: 1150px;
    height: 650px;
    margin-left: 18%;
    margin-top: 6%;
    border-radius: 10px;

    .header {
        margin-left: 20px;
    }
    .title-section {
        margin-top: 20px;
    }

    .form{
        display: flex;
        margin-left: 20px;

        .section-right{
            margin-left: 25%;
        
            .button-submit{
                margin-top: 78%;
                button i {
                    float:right;
                }
        
                button:hover{
                    background-color: rgb(197 245 59 / 100%);
                }
            }
        }

        input, label{
            margin-top: 10px;
        }
    }

    .next-button {
        float: right;
        margin-top: 5%;
        margin-right: 10px;

        button:hover{
            background-color: rgb(197 245 59 / 100%);
        }
    }

    .prev-button {
        margin-top: 5%;
        margin-right: 10px;
        margin-left: 20px;

        button:hover{
            background-color: rgb(197 245 59 / 100%);
        }
    }

    .super-right {
        .form-check {
            margin-top: 125px;
            margin-left: 20px;
        }
    }
}